.titleContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.articleTitleContainer {
  display: flex;
  width: 50%;
}

.articleContainer {
  padding-bottom: 15px;
}

.textAnimate {
  font-size: 14px;
}

.hidden {
  display: none;
}